/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: aqua;
  color: darkslategrey;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3.5rem;
  color: orangered;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

p,
li {
  font-size: 1.6rem;
}

button {
  background-color: darkslategrey;
  color: white;
  width: 20%;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px 10px;
  font-size: 1.6rem;
  font-weight: 700;
}

button:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
}

input {
  width: 12%;
  margin: 10px;
  padding-left: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
}

.App {
  text-align: center;
  margin: 7px 20px 30px;
}

.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: #ccc;
  position: absolute;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.controls-text {
  font-size: 1.8rem;
}

.grid-about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
}

.preset-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-instructions {
  font-style: italic;
}

.preset-btns-container {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.presetButton {
  color: darkslategrey;
  background-color: white;
}

.outer-grid-container {
  display: flex;
  flex-direction: row;
}

.grid-container {
  border: 1px solid blue;
}
