h2 {
  font-size: 3rem;
}

.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: #ccc;
  position: absolute;
}

.grid-about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.preset-container {
  /* border: 1px solid purple; */
}

.outer-grid-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
}

.grid-container {
  /* border: 1px solid blue; */
}
