.presetButton {
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.preset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.individualPreset {
  margin: 20px 0px 20px;
}
